[submodule "amiga-ros2-nav"]
	path = amiga-ros2-nav
	url = https://github.com/ucmercedrobotics/amiga-ros2-nav.git
[submodule "amiga_ros2_behavior_tree/schemas"]
	path = amiga_ros2_behavior_tree/schemas
	url = https://github.com/ucmercedrobotics/gpt-mission-planner-schemas.git
[submodule "ros2-kortex-control"]
	path = ros2-kortex-control
	url = https://github.com/ucmercedrobotics/ros2-kortex-control.git
[submodule "problog_project"]
	path = problog_project
	url = https://github.com/jek97/BT_project.git
	branch = claude/project-review-179rmx
